.home_container {
	color: #d3d3d3;
	background-color: #000000;
	padding-left: 300px;
}

.home_container .content_container .header {
	display: flex;
	height: 200px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-size: contain;
	background-image: url("../images/community-bg.png");
}

.home_container .content_container .action_bar {
	padding: 20px;
	display: flex;
	justify-content: flex-end;
}
